body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
}

.navbar-logo {
  font-size: 1.5rem;
}

.navbar-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

/* .bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 3px 0;
} */

.open {
  font-size: 24px;
  font-weight: 700;
}

.navbar-menu {
  list-style: none;
  display: flex;
}

.navbar-menu li {
  margin: 0 15px;
}

.navbar-menu a {
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .navbar-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #333;
    opacity: 0.7;
    top: 10px;
    right: 0;
    text-align: center;
    width: 120px;
    z-index: -99;
    padding-top: 40px;
    padding-bottom: 20px;
    gap: 15px;
    align-items: baseline;
  }
  .navbar-menu li a:hover {
    color: aqua;
  }

  .navbar-menu.active {
    display: flex;
  }

  .navbar-toggle {
    display: flex;
  }
}
